@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    background-color: #02151f;
}

#title {
    position: absolute;
    right: 50%;
    bottom: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: white;
}